<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sawyer.dao.UserFileDAO">
    <update id="update" parameterType="com.sawyer.entity.UserFile">
        UPDATE t_files SET downcounts=#{downcounts} WHERE id=#{id}
    </update>

    <delete id="delete" parameterType="Integer">
        DELETE FROM t_files WHERE id=#{id}

    </delete>

    <select id="findByUserId" parameterType="Integer" resultType="com.sawyer.entity.UserFile">
        SELECT id,oldFileName,newFileName,ext,path,size,type,isImg,downcounts,uploadTime,userId
        FROM t_files
        WHERE userId=#{id}

    </select>


    <select id="findById" parameterType="Integer" resultType="com.sawyer.entity.UserFile">
         SELECT id,oldFileName,newFileName,ext,path,size,type,isImg,downcounts,uploadTime,userId
         FROM t_files
         WHERE id=#{#id}
    </select>



    <insert id="save" parameterType="com.sawyer.entity.UserFile" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `filemanagement`.`t_files` (`id`, `oldFileName`, `newFileName`, `ext`, `path`, `size`, `type`, `isImg`, `downcounts`, `uploadTime`, `userId`)
        VALUES (#{id}, #{oldFileName}, #{newFileName}, #{ext}, #{path}, #{size}, #{type}, #{isImg}, #{downcounts}, #{uploadTime},#{userId});

    </insert>
</mapper>